td.td1 {
    color: rgb(20, 130, 145);
    font-style: italic;
    font-weight: 90000;
    font-family: cursive;
    background-color:rgb(83, 83, 83);
}
body {
    background-image: url(../images/back_round.jpg);
}
td.td2 {
    color: rgb(0, 0, 0);
    background-color:rgb(83, 83, 83);
}
ul {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 90000;
    font-family: cursive;
}
td.td3 {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 90000;
    font-family: cursive;
    background-color:rgb(83, 83, 83);
}
td.td4 {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 90000;
    font-family: cursive;
    background-color:rgb(83, 83, 83);
}
td {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 90000;
    font-family: cursive;
    background-color:rgb(83, 83, 83);
}
span.colortext {
    color: red;
}span.colortext1 {
    color: green;
}span.colortext2 {
    color: blue;
}
